@charset "UTF-8";

.myform{
    padding: 10px;
}
.myform .vcode_box input{
    width: 65%;
}
.myform .vcode_box button{
    width: 30%;
    padding:0;
    height: 40px;
    line-height: 40px;
}
.myform .vcode_box button.disabled{
    background-color: #999;
    border-color: #999;
}
.myform .btn_register{
    width: 100%;
    padding:0;
    height: 40px;
    line-height: 40px;
}